#mainRow{
  background-color: yellow;
  height: 700px;
}

#mainCol{
  background-color: green;
}

.absoluteHeight{
  height: 100%;
}

#rowSpace1{
  height: 140px;
  background-color: red;
}

#rowMainText{
  height: 130px;
  background-color: blue;
}

#rowMainTime{
  height: 110px;
  background-color: black;
}

#colMainText{
  background-color: white;
}

#colMainTime{
  background-color: white;
}

#colDays{
  background-color: green;
}

#colHours{
  background-color: yellow;
}

#colMinutes{
  background-color: red;
}

#colSeconds{
  background-color: blue;
}

.rowDigit{
  height: 80%;
}

.rowTitleDigit{
  height: 20%;
}

.dataCol{
  background-color: black;
}

.pDigit{
  color: white;
}

.pTitleDigit{
  color: white;
}
